<canvas class="my-4 w-100 chartjs-render-monitor" id="myChart"  style="display: block; width: 1076px; height: 10px"
 width="1076" height="454"></canvas>

<h2 class="text-center my_lst_product">List Products</h2>

<button type="button" class="btn btn-primary" (click)="addProduct()" data-backdrop="static"data-keyboard="false">
  <i class="fa fa-plus-square-o" aria-hidden="true"></i> Add Product 
</button>

<div class="table-responsive">

  <nav class="navbar">
    <input class="form-control" name="nameProductSearch" [(ngModel)]="nameProductSearch" placeholder="Enter Name Product"
      (ngModelChange)="Search()" type="text"/>
  </nav>

  <div>
    <h4>Category</h4>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0"
        (change)="onItemChange($event)" checked />
      <label class="form-check-label" for="flexRadioDefault1"> None </label>
    </div>

    <div *ngFor="let category of CategoryList">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{ category.categoryId }}"
          value="{{ category.categoryId }}" (change)="onItemChange($event)"/>
        <label class="form-check-label" for="{{ category.categoryId }}">{{ category.nameCategory }}</label>
      </div>
    </div>

  </div>

  <div *ngIf="ProductList">
    <mat-table [dataSource]="ProductList.items">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let item; columns: displayedColumns"></mat-row>

      <ng-container matColumnDef="productId">
        <mat-header-cell *matHeaderCellDef (click)="sort('{{item.productId}}')">Id</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.productId }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nameProduct">
        <mat-header-cell *matHeaderCellDef>Name Product</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.nameProduct }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.price }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="releaseDate">
        <mat-header-cell *matHeaderCellDef>Release Date</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.releaseDate | date: "dd/MM/yyyy"}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let item">

          <a routerLink="/product/edit/{{ item.productId }}">
            <i class="fa fa-pencil-square-o my_icon" aria-hidden="true"></i>
          </a>

          <button type="button" (click)="deleteClick(item)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>

        </mat-cell>
      </ng-container>

    </mat-table>

    <mat-paginator [length]="ProductList.meta.totalCount" [pageSize]="ProductList.meta.pageSize"
      [pageSizeOptions]="[5, 10, 20, 50]" (page)="pageEvent = $event; onPaginateChange($event)">
    </mat-paginator>
    
  </div>
</div>

<!-- 
  <canvas
    class="my-4 w-100 chartjs-render-monitor"
    id="myChart"
    width="1076"
    height="454"
    style="display: block; width: 1076px; height: 10px"
  ></canvas>

  <h2>List Products</h2>

  <button 
    type="button"
    class="btn btn-primary"
    (click)="addProduct()"
    data-backdrop="static"
    data-keyboard="false">
    Add Product
  </button>
  

  <div class="table-responsive">
    <nav class="navbar">
        <input class="form-control" type="text" name="nameProductSearch" [(ngModel)]="nameProductSearch" (ngModelChange)="Search()"
            placeholder="Enter Name Product">
      </nav>
      <div>
        <h4>Category</h4>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0"
          (change)="onItemChange($event)" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            None
          </label>
        </div>
        <div *ngFor="let category of CategoryList">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{category.categoryId}}" 
            value="{{category.categoryId}}"  (change)="onItemChange($event)">
            <label class="form-check-label" for="{{category.categoryId}}">
              {{category.nameCategory}}
            </label>
          </div>
        </div>
        
      </div>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col" (click)="sort('productId')">Number</th>
          <th scope="col">Product Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Release Date</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of ProductList | orderBy :key: reverse | paginate: {itemsPerPage: 4, currentPage: p}">
          <td>{{ dataItem.productId }}</td>
          <td>{{ dataItem.nameProduct }}</td>
          <td>{{dataItem.description}}</td>
          <td>{{dataItem.price}}</td>
          <td>{{dataItem.releaseDate | date:'dd/MM/yyyy'}}</td>
          <td>         
            <a routerLink="/product/edit/{{dataItem.productId}}" style="padding-right: 10px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>           
            <button
              type="button"
              class="btn btn-light mr-1"
              (click)="deleteClick(dataItem)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls> -->
